{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    {% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorem Ipsum</title>
    <script src="{%static 'phaser.min.js' %}"></script>
</head>
<body>
    <input type="text" id="messageInput" placeholder="Type your message here"/>
    <button id="sendMessageButton">Send Message</button>
    
    <script>
        const config = {
            type: Phaser.AUTO,
            width: 600,
            height: 800,
            scene: {
                preload: preload,
                create: create,
                update: update
            }
        };

        const game = new Phaser.Game(config);
        let socket;

        function preload() {
            // Load your assets here
            this.load.image('map', '/static/world.png');
        }
        
        function create() {
            // this.add.image(512, 816, 'map');
            this.add.image(0, 0, 'map').setOrigin(0, 0)
            // Establish WebSocket connection
            socket = new WebSocket('ws://' + window.location.host + '/ws/home/');
            
            socket.onopen = function() {
                console.log('WebSocket connection established');
            };

            socket.onmessage = function(event) {
                const data = JSON.parse(event.data);
                console.log(data.message);
                // if (data.type === "message") { // Handle outbound messages
                //     console.log("Received outbound message:", data.message);
                // }
            };

            // Set up the button to send messages
            const sendMessageButton = document.getElementById('sendMessageButton');
            sendMessageButton.onclick = function() {
                const messageInput = document.getElementById('messageInput');
                const message = messageInput.value;

                if (message) {
                    const payload = {
                        type: "inbound", // Mark the message as inbound
                        message: message
                    };
                    socket.send(JSON.stringify(payload));
                    messageInput.value = ''; // Clear the input after sending
                }
            };
        }

        function update() {
        //     console.log("SCREAM");
        //     // Game logic updates
        }
    </script>
</body>
</html>
{% endblock %}